.AdminMain {
  nav {
    ul {
      line-height: 5rem;

      .active {
        color: #ff6117;
      }

      li {
        transition: 0.2s all ease-in;
        font-size: 1.5rem;
      }
      li:hover {
        cursor: pointer;
        color: #ff6117;
        transform: translateX(10%);
      }
    }

    .adminProfile {
      position: absolute;
      bottom: 1rem;
    }

    #logOutBtn {
      transition: 0.2s all ease-in;
      position: absolute;
      right: -3.5rem;
    }
    #logOutBtn:hover {
      color: #ff6117;
    }
  }

  main {
    .indicators {
      .orders {
        i {
          padding: 25px 35px;
          border-radius: 14px;
          background: rgba(0, 95, 205, 0.2);
          color: rgb(0, 96, 205);
        }
      }
      .visitors {
        i {
          padding: 25px 35px;
          border-radius: 14px;
          background: rgb(255, 255, 0, 0.2);
          color: rgb(229, 229, 18);
        }
      }
      .sales {
        i {
          padding: 25px 35px;
          border-radius: 14px;
          background: rgba(255, 68, 0, 0.2);
          color: #f45810;
        }
      }
      .orders,
      .visitors,
      .sales:hover {
        cursor: pointer;
      }
    }
  }
}
